@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}
body {
    background: #fff;
    top: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.margin{
    margin: 0 30px;
}
.header{
    width: 100%;
    position: fixed;
    height: auto;
    background-color: rgb(34, 34, 34);
    padding: 20px 0 20px 0;
}
.between{
    display: flex;
    justify-content: space-between;
}
.text-white{
    color: white;
    text-decoration: none;
}
.space-x-1{
    margin: 0 5px 0 5px;
}
.space-x-2{
    margin: 0 10px 0 10px;
}
.space-x-3{
    margin: 0 15px 0 15px;
}
.space-y-1{
    margin: 5px 0 5px 0;
}
.space-y-2{
    margin: 10px 0 10px 0;
}
.space-y-3{
    margin: 15px 0 15px 0;
}
.header-links{
    margin-top: 8px;
}
.introduction{
    height: 100vh;
    background-image: url("../images/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.btn-blue{
    color: white;
    background-color: #007bff;
    height: auto;
    width: auto;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.intro-text{
    font-size: 60px;
}
.about-content{
    display: flex;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-4{
    flex: 0 0 40%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-8{
    flex: 0 0 60%;
    max-width: 50%;
    padding-right: 35px;
    padding-left: 25px;
}
.col-2{
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-10{
    flex: 0 0 80%;
    max-width: 80%;
    padding-right: 35px;
    padding-left: 25px;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}
.text-center {
    text-align: center;
}
.space-top{
    margin-top: 20px;
    margin-bottom: 20px;
}
.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.text-blue{
    color: #0d3968;
}
.logoimage{
    height: 100px;
    width: 100px;
    margin-top: 20px;
}
.list{
    list-style: none;
}
.logo-pad{
    padding: 0 30px 0 30px;
    margin: 5px 0 25px 0;
}

p{
    text-align: justify;
}
ol{
    list-style: none;
}

.flex{
    display: flex;
}
.line-height{
    line-height: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
}
.card-image{
    height: auto;
    width: 250px;
    text-align: center;
}
.card-text{
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-projects{
    text-align: center;
}
.line-height-1{
    line-height: 35px;
}
.text-back{
    text-decoration: none;
    color: black;
}
.project-image{
    height: 35px;
    width: 35px;
}
.project-text{
    margin-top: 3px;
}
.project-date{
    display: flex;
    justify-content: center;
}

.about-img {
    flex: 0 0 20%;
    text-align: center;
}

.about-img img {
    border-radius: 50%;
    border: 5px solid #d6d6d6;
    max-width: 100%;
    height: auto;
    height: 175px;
    width: 175px;
}
.about-section{
    display: flex;
    justify-content: center;
}
.about-content{
    display: flex;
    flex-direction: column;
}
.about-section:hover{
    padding: 20px;
    height: auto;
    width: 80%;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10%;
    background-color: #f6ffd7;
}
hr{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    width: 90%;
  }
  .slider-wrapper {
    position: relative;
  }
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  .slider-wrapper .image-list .image-item {
    width: 225px;
    height: 300px;
    object-fit: cover;
  }
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
      padding: 30px;
    }
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }
  .section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f1f4fd;
  }

  .md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
.background{
    background-color: #d1d7df;
}
.talent-section{
    display: flex;
    justify-content: space-between;
}
.talent-box{
    height: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    align-items: center;
}
.talent-image:hover{    
    height: 120px;
    width: 120px;
}

.talent-image{
    height: 100px;
    width: 100px;
}
.contact-logo{
    display: flex;
    flex-direction: column;
    line-height: 40px;
}
.col{
    display: flex;
    flex-direction: column;
}
.contact-input{
    padding: 10px;
    height: auto;
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 4px;
}
.textarea-contact{
    height: 100px;
}
.contact-me-image{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(240, 118, 4);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: rgb(34, 34, 34);
    padding: 20px 0 20px 0;
}
.hover:hover{
    cursor: pointer;
    color: white;
    background-color: orangered;
    width: 150px;
    height: 60px;
    
}
